*,
*::after,
*::before {
  box-sizing: border-box;
}

h1, h2, p {
  margin: 0;
}

button, input {
  font: inherit;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #bdbdbd;
  font-family: Courier, monospace;
  display: flex;
  flex-direction: column;
}

body > * {
  text-align: center;
}

header {
  background-color: #000;
  padding-block: 16px;

  h1 {
    font-size: 3rem;
    
    a {
      text-shadow: 3px 3px #666;
      text-decoration: none;
      color: #fff;
      transition: text-shadow 0.2s;
    }

    a:hover {
      text-shadow: none;
    }
  }
}

.container {
  flex: 1;
  display: grid;
  place-content: center;
}

#infoSection {
  margin-bottom: 16px;
  height: 75px;
}

h2 {
  font-size: 2rem;
}

h2 + p, p + p {
  margin-top: 4px;
}

.info-text {
  color: #6d6d6d;
}

.warning, .winner {
  font-weight: 600;
}

.warning {
  color: #bb341c;
}

.winner {
  color: #08a32a;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.cell {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 200px;
  height: 200px;
  cursor: pointer;

  font-size: 10rem;
  padding: 0;
}

.btn, input {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
}

.btn {
  margin-top: 16px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  transition: background-color 0.2s;
  font-weight: 600;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

aside {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 32px;
  background-color: #fff;
  box-shadow: 0 0 10px #fff;

  h2 {
    margin-bottom: 32px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label, span {
    text-align: start;
  }

  input {
    outline: none;
    border: 1px solid #000;
  }

  span::after {
    content: '* Please fill this field';
    color: #cc0c0c;
    font-size: 0.8rem;
    text-align: start;
    visibility: hidden;
  }

  input:focus {
    box-shadow: 1px 1px 3px #444;
  }

  input:user-invalid {
    border-color: #cc0c0c;
  }

  input:user-invalid + span::after {
    visibility: visible;
  }
}